body {
    font-family: Georgia, Times, 'Times New Roman', serif !important;
    color: rgb(3, 3, 44) !important;
}

/* Accordion body */
.accordion-body {
    padding-bottom: 2px;
}

/* Accordion item */
#liveCityAccordion .accordion-item {
    margin-bottom: 3px;
}

/* Accordion button */
.accordion-item .accordion-header .live-city-accordion-button {
    background-color: #c4b825;
    transform: translatex(0px) translatey(0px);
    color: #000205;
    font-weight: 700;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    letter-spacing: 1.2px;
    border: 0px;
}

/* Live cities heading */
.live-cities-heading {
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 1.8px;
    margin-left: 22px;
}

/* Paragraph */
.live-city-heading {
    font-weight: 600;
    border-style: solid;
    border-width: 3px;
    border-color: #c4b825;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    margin-left: 18px;
    margin-right: 18px;
    font-size: 18px;
    cursor: pointer;
}

.live-city-heading:hover {
    background-color: #c4b825;
    transition: background-color .7s;
}

/*Non Live Cities*/
/* Accordion item */
#non-liveCityAccordion .accordion-item {
    margin-bottom: 3px;
}

/* Accordion button */
.accordion-item .accordion-header .non-live-city-accordion-button {
    background-color: #d0cdc8;
    transform: translatex(0px) translatey(0px);
    color: #000205;
    font-weight: 700;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    letter-spacing: 1.2px;
    border: 0px;
}

/* Live cities heading */
.non-live-cities-heading {
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 1.8px;
    margin-left: 22px;
}

/* Paragraph */
.non-live-city-heading {
    font-weight: 600;
    border-style: solid;
    border-width: 3px;
    border-color: #d0cdc8;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    margin-left: 18px;
    margin-right: 18px;
    font-size: 18px;
    cursor: pointer;
}

.non-live-city-heading:hover {
    background-color: #d0cdc8;
    transition: background-color .7s;
}

/* Accordion item */
#non-liveCityAccordion .accordion-item {
    margin-bottom: 3px;
}

/* Accordion button */
.accordion-item .accordion-header .non-live-city-accordion-button {
    background-color: #d0cdc8;
    transform: translatex(0px) translatey(0px);
    color: #000205;
    font-weight: 700;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    letter-spacing: 1.2px;
    border: 0px;
}

.comming-soon {
    margin: 15px 15px 5px 18px;
    font-weight: 400 !important;
}

.comming-soon span {
    font-weight: 700;
}

.shadow {
    box-shadow: 0px 0px 12px 12px rgba(147, 168, 168, 0.15) !important;
}

.city-heading-section h2 {
    padding-top: 8px;
    padding-bottom: 19px;
}

@media (max-width:600px) {

    /* Basic */
    .static-top-section .basic-d {
        margin-top: 10px;
    }

}

/* Paragraph */
.static-top-section .basic-d p {
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    text-shadow: rgb(255, 0, 0) -1px 0px 0px, rgb(0, 255, 255) 1px 0px 0px;
    letter-spacing: 1.8px;
    word-spacing: 3.2px;
}

/* Paragraph */
.static-top-section .language p {
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: rgb(255, 0, 0) -1px 0px 0px, rgb(0, 255, 255) 1px 0px 0px;
    letter-spacing: 1.8px;
    word-spacing: 3.2px;
}

.city-heading-section h2 {
    font-weight: 700;
    font-style: normal;
    text-transform: none;
    white-space: normal;
    text-shadow: rgb(255, 255, 255) 1px 1px 0px, rgb(170, 170, 170) 2px 2px 0px;
    font-size: 34px;
}