body {
    /* font-family: Georgia, Times, 'Times New Roman', serif !important; */
    /* font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; */
    color: rgb(3, 3, 44) !important;
}

/* Define the scrollbar track */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Set the background color */
}

/* Define the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Set the color of the thumb */
    border-radius: 3px;
    /* Add rounded corners to the thumb */
}

/* Define the scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Set the color of the thumb on hover */
}

/* Define the scrollbar width and height */
::-webkit-scrollbar {
    width: 5px;
    /* Set the width of the scrollbar */
    height: 10px;
    /* Set the height of the scrollbar */
}

#heiContentDiv {
    transition: height 0.3s ease;
    overflow: hidden;
}

/* Accordion body */
.accordion-body {
    padding-bottom: 2px;
}

/* Accordion item */
#liveCityAccordion .accordion-item {
    margin-bottom: 3px;
}

/* Accordion button */
.accordion-item .accordion-header .live-city-accordion-button {
    background-color: #c4b825;
    transform: translatex(0px) translatey(0px);
    color: #000205;
    font-weight: 700;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    letter-spacing: 1.2px;
    border: 0px;
}

/* Live cities heading */
.live-cities-heading {
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 1.8px;
    margin-left: 22px;
}

/* Paragraph */
.live-city-heading {
    font-weight: 600;
    border-style: solid;
    border-width: 3px;
    border-color: #c4b825;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    margin-left: 18px;
    margin-right: 18px;
    font-size: 18px;
    cursor: pointer;
}

.live-city-heading:hover {
    background-color: #c4b825;
    transition: background-color .7s;
}

/*Non Live Cities*/
/* Accordion item */
#non-liveCityAccordion .accordion-item {
    margin-bottom: 3px;
}

/* Accordion button */
.accordion-item .accordion-header .non-live-city-accordion-button {
    background-color: #d0cdc8;
    transform: translatex(0px) translatey(0px);
    color: #000205;
    font-weight: 700;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    letter-spacing: 1.2px;
    border: 0px;
}

/* Live cities heading */
.non-live-cities-heading {
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 1.8px;
    margin-left: 22px;
}

/* Paragraph */
.non-live-city-heading {
    font-weight: 600;
    border-style: solid;
    border-width: 3px;
    border-color: #d0cdc8;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    margin-left: 18px;
    margin-right: 18px;
    font-size: 18px;
    cursor: pointer;
}

.non-live-city-heading:hover {
    background-color: #d0cdc8;
    transition: background-color .7s;
}

/* Accordion item */
#non-liveCityAccordion .accordion-item {
    margin-bottom: 3px;
}

/* Accordion button */
.accordion-item .accordion-header .non-live-city-accordion-button {
    background-color: #d0cdc8;
    transform: translatex(0px) translatey(0px);
    color: #000205;
    font-weight: 700;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    letter-spacing: 1.2px;
    border: 0px;
}

.comming-soon {
    margin: 15px 15px 5px 18px;
    font-weight: 400 !important;
}

.comming-soon span {
    font-weight: 700;
}

.shadow {
    box-shadow: 0px 0px 12px 12px rgba(147, 168, 168, 0.15) !important;
}

.city-heading-section h2 {
    padding-top: 8px;
    padding-bottom: 19px;
}

@media (max-width:600px) {

    /* Basic */
    .static-top-section .basic-d {
        margin-top: 10px;
    }

}

/* Paragraph */
.static-top-section .basic-d .basic-d-headig {
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    text-shadow: rgb(255, 0, 0) -1px 0px 0px, rgb(0, 255, 255) 1px 0px 0px;
    letter-spacing: 1.8px;
    word-spacing: 3.2px;
}

/* Paragraph */
.static-top-section .language .language-heading {
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: rgb(255, 0, 0) -1px 0px 0px, rgb(0, 255, 255) 1px 0px 0px;
    letter-spacing: 1.8px;
    word-spacing: 3.2px;
}

.live-heading {
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: rgb(255, 0, 0) -1px 0px 0px, rgb(0, 255, 255) 1px 0px 0px;
    letter-spacing: 1.8px;
    word-spacing: 3.2px;
}

.city-heading-section h2 {
    font-weight: 700;
    font-style: normal;
    text-transform: none;
    white-space: normal;
    text-shadow: rgb(255, 255, 255) 1px 1px 0px, rgb(170, 170, 170) 2px 2px 0px;
    font-size: 34px;
}

/* List Item */
.language ul .lang-li {
    font-size: 17px;
    font-style: normal;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
    letter-spacing: 0.3px;

}

/* Paragraph */
.static-top-section .language .lang-num {
    border-top-style: solid;
    font-weight: 600 !important;
    padding-top: 8px;
    margin-bottom: 9px;
    margin-right: 13px;
    margin-left: 30px;
}


/* Paragraph */
.container .static-top-section .row .col-sm-4 .language .lang-num {
    border-top-width: 1.5px !important;
}

@media (min-width:768px) {

    /* Paragraph */
    .static-top-section .language .lang-num {
        font-size: 14px;
    }

}

.basic-d .col-sm-8 {
    padding-left: 27px;
}

/* Table Data */
.basic-d tr td {
    margin-left: 0px;
    width: 61px;
    padding-left: 39px;
    padding-right: 15px;
}

/* Span Tag */
#mid-section .disrict-rank span {
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
    text-shadow: none;
}


/* live Cities */
/* Link */
.live-cities-list .live-state-name a {
    font-weight: 600;
    font-size: 18px;
}

/* List */
.live-cities-list ul ul {
    padding-bottom: 15px;
    transform: translatex(0px) translatey(0px);
    padding-left: 24px;
}

/* Live cities name */
.live-cities-list .live-cities-name {
    padding-bottom: 2px;
    padding-top: 2px;
    margin-right: 29px;
    margin-bottom: 7px;
    transform: translatex(0px) translatey(0px);
    padding-left: 13px;
    background-color: #f49d6b;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* Live state name */
.live-cities-list ul .live-state-name {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 6px;
    font-style: normal;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    text-shadow: none;
}


.live-cities-list ul ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}


.live-cities-list div>ul {
    padding-left: 2px;
}

#mid-section .live-cities-list p {
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 8px;
}

#mid-section .disrict-rank h6 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-style: normal;
    font-size: 20px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
}

#flush-headingOne .work-acc-btn {
    transform: translatex(0px) translatey(0px);
    background-color: #fdf8e0;
    font-weight: 500;
    border-width: 0px;
    /* border-radius: 8px; */

}

#flush-headingOne .pls-acc-btn {
    transform: translatex(0px) translatey(0px);
    background-color: #ffe6e6;
    font-weight: 500;
    border-width: 0px;
    /* border-radius: 8px; */

}

#flush-headingOne .pop-acc-btn {
    transform: translatex(0px) translatey(0px);
    background-color: #e1ffea;
    font-weight: 500;
    border-width: 0px;
    /* border-radius: 8px; */

}

.work-accordion-body {
    background-color: rgba(250, 247, 233, 0.35);
}

.pls-accordion-body {
    background-color: rgba(252, 242, 242, 0.35);
}

.pop-accordion-body {
    background-color: rgba(225, 255, 238, 0.33);
}

#flush-headingOne .work-acc-btn {
    padding-bottom: 3px;
    padding-top: 8px;
    min-height: 32px;
}

#flush-headingOne .pop-acc-btn {
    padding-bottom: 3px;
    padding-top: 8px;
    min-height: 32px;
}

#flush-headingOne .pls-acc-btn {
    padding-bottom: 3px;
    padding-top: 8px;
    min-height: 32px;
}

/* Accordion item */
#accordionFlushExample .static-page-accordion-item {
    margin-bottom: 8px;
}

.ps-4 div .neg-title {
    font-weight: 700;
}

/* Pos title */
.ps-4 div .pos-title {
    font-weight: 700;
}